*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.domoz.pid
domoz-auth.yaml
domoz-oauth.yaml

deploy.sh

*.pid

old_domoz
